h1 img.logo {
	width: 50%;
}

.content {
	background: rgba(255, 255, 255, 0);
	padding: 5% 5%;
	text-align: center;
	border-radius: 3px;
}

.map {
	width: 100%;
	height: 440px;
	text-shadow: none;
	color: #333;
	border-radius: 3px;
}

.dates {
	font-size: 1.8em;
	margin: 0;
	padding: 0;
	font-size: 1.3em;

	a svg {
		fill: #ffacac;
	}
}

.gallery {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;

	a {
		height: 100%;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		margin: 10px 0;
		display: flex;
		align-items: center;

		.inner-wrapper {
			padding: 0 0;
			margin: 0 auto;
		}

		@media #{$tablet} {
			width: 100%;
		}

		@media #{$desktop} {
			width: 100%;
		}

		img {
			width: 100%;
		}

		&:hover {
			text-decoration: underline;
		}

		.caption {
			position: absolute;
			bottom: 10px;
			left: 0;
			text-align: center;
			width: 100%;
		}
	}
}

.powered-by-eb {
	display: none;
}

.sharing {
	text-align: center;

	a {
		background: #000;
		margin: 0 30px 50px 0;
		width: 35px;
		height: 35px;
		padding: 10px;
		display: inline-block;
		border-radius: 100px;

		&.email {
			background-color: #ff9d09;
		}

		&.facebook {
			background-color: #3b5998;
		}

		&.twitter {
			background-color: #55acee;
		}

		&.google-plus {
			background-color: #db4437;
		}

		&.youtube {
			background-color: #cd201f;
		}

		&.instagram {
			background-color: #f167f5;
		}

		&.linkedin {
			background-color: #0077b5;
		}

		&.pinterest-icon:hover svg {
			fill: #bd081c;
		}

		svg {
			height: 100%;
			width: 100%;
			font-size: 2em;
			top: 0;
		}
	}
}
.grid {
	margin: 0 auto;
	.grid-item {
		width: 300px;
		line-height: 0;
		margin: 5px;
		box-sizing: border-box;
		a {
			display: inline-block;
			img {
				width: 70%;
			}
		}
	}
}

.copyright {
	text-align: center;
	font-size: .9em;
}

.success {
	background: #1ddd8b;
	padding: 10px;
	text-shadow: none;
	display: none;
}